/*********************************************************
 * Hr
 *********************************************************/

hr,
hr.hr {
	background-color: rgba($gray, 0.2);
	border: none;
	display: block;
	height: 2px;
	margin: 1.6rem auto;
	width: 90%;

	&.mod-full {
		width: 100%;
	}

	@include media-min-md {
		margin: 4.8rem auto;
	}
}
